.movies__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: space-between;
  row-gap: 57px;
}

.movies__preloader {
  display: none;
  height: 38px;
  width: 38px;
  margin: 20px 0;
  align-self: center;
  animation: move 1s linear infinite;
}

.movies__button {
  height: 36px;
  width: 320px;
  margin: 75px 0 100px 0;
  align-self: center;
  background-color: #202020;
  border: 1px solid #424242;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}

.movies__space {
  margin-top: 260px;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}