.movies {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 880px) {
  .movies {
    margin: 0 30px;
  }
}

@media screen and (max-width: 755px) {
  .movies {
    margin: 0 10px;
  }
}