.promo {
  height: 493px;
  width: 93.75%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #272727;
  border-radius: 10px;
}

.promo__title {
  width: 60.8%;
  margin-bottom: 151px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #FFFFFF;
}